<!-- This is the base template for the Student Management System -->
<!-- I made it to avoid repeating the navbar -->
<!-- it uses content blocks which can be defined later when extending this template -->
{% load static %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}Student System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'studentmanager/css/style.css' %}" />
  </head>
  <body>
    {% include 'studentmanager/navbar.html' %}

    {% if messages %}
      {% for message in messages %}
        <div class="message">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
