<!-- Note: all pages extend the base template, please check it for more info -->
{% extends 'studentmanager/base.html' %}
{% block content %}
<h2>Grades</h2>
<details class="form-accordion">
	<summary>Add Entry</summary>
		<div class="form-container">
			<form method="post">{% csrf_token %}{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Add Grade</button>
			</form>
		</div>
	</summary>
</details>

<div class="search-container">
	<form method="get" class="search-form">
		<input type="number" name="search_id" placeholder="Student ID..." value="{{ request.GET.search_id }}">
		<input type="text" name="search_subject" placeholder="Subject Name..." value="{{ request.GET.search_subject }}">
		<button type="submit" class="btn btn-secondary">Search</button>
		<a href="{% url 'manage_grades' %}" class="btn-link">Clear</a>
	</form>
</div>

<table class="data-table">
	<thead>
		<tr>
			<th>Student</th>
			<th>Subject</th>
			<th>Grade</th>
			<th>Graded By</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for g in grades %}
		<tr>
			<td>{{ g.student.name }}</td>
			<td>{{ g.subject.name }}</td>
			<td>{{ g.grade }}</td>
			<td>{{ g.graded_by.username|default:"System" }}</td>
      <td>
        <a href="{% url 'update_grade' g.id %}" class="btn-edit">Edit</a>
        <a href="{% url 'delete_grade' g.id %}" class="btn-danger">Delete</a>
      </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}