<!-- Note: all pages extend the base template, please check it for more info -->
{% extends 'studentmanager/base.html' %}
{% load static %}
{% block title %} Manage Students {% endblock %}
{% block content %}
<h2>Students</h2>
<details class="form-accordion">
	<summary>Add Entry</summary>
    <div class="form-container">
      <!-- I needed the enctype attribute for file uploads -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Student</button>
      </form>
    </div>
  </summary>
</details>


<table class="data-table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>
        {% if student.photo %}
        <img
          src="{{ student.photo.url }}"
          alt="{{ student.name }}"
          class="avatar"
        />
        {% else %}
        <img
          src="{% static 'studentmanager/images/default-avatar.png' %}"
          class="avatar"
        />
        {% endif %}
      </td>
      <td>{{ student.student_id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.email }}</td>
      <td>
        <a href="{% url 'update_student' student.student_id %}" class="btn-edit">Edit</a>
        <a href="{% url 'delete_student' student.student_id %}" class="btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
