<!-- Note: all pages extend the base template, please check it for more info -->
{% extends 'studentmanager/base.html' %}
{% block title %} Manage Subjects {% endblock %}
{% block content %}
<h2>Subjects</h2>

<details class="form-accordion">
	<summary>Add Entry</summary>
		<div class="form-container">
			<form method="post">
				{% csrf_token %} {{ form.as_p }}
				<button type="submit" class="btn btn-primary">Add Subject</button>
			</form>
		</div>
	</summary>
</details>

<table class="data-table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for subject in subjects %}
		<tr>
			<td>{{ subject.code }}</td>
			<td>{{ subject.name }}</td>
			<td>{{ subject.description|truncatewords:10 }}</td>
      <td>
        <a href="{% url 'update_subject' subject.pk %}" class="btn-edit">Edit</a>
        <a href="{% url 'delete_subject' subject.pk %}" class="btn-danger">Delete</a>
      </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}